body {
    font-family: Arial, Helvetica, sans-serif;
}

table, td, th {
    border: 1px solid;
    background-color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
}


#head
{
    font-size: 10px;
}


.category
{
    background-color: lightgray;
    font-size: 10px;
}

.categoryinput
{
    background-color: lightgray;
    font-size: 10px;
    border: 0px;
}

.numberinput
{
    background-color: white;
    font-size: 10px;
    border: 0px;
}

th
{
    background-color: lightseagreen;
}